<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\Assets\packages" />
  </config>
   <packageSources>

    <!-- Add the private NuGet package source for this solution -->
    <add key="CustomFeed" value="https://cdhanna.pkgs.visualstudio.com/_packaging/MapFeed/nuget/v3/index.json" />

  </packageSources>
</configuration>